.header {
    background-color: rgb(80, 176, 115);
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    width: 100%;
}

.titulo {
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    width: 5%;
    height: 5%;
  }

 .items {
    text-decoration: none;
    display: inline;
  }