.header {
    background-color: rgb(80, 176, 115);
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    font-size: x-large;
    justify-content: space-evenly;
    text-align: right;
}

.titulo {
    font-size:xx-large;
    font-weight: bolder;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    align-items: center;
    font-size: larger;
  }

  .header-logo {
    width: 5%;
    height: 5%;
  }

 .items {
    text-decoration: none;
    display: inline;
    margin-right: 10px;
  }